*.iml
.gradle
.idea
/.gradle
/.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
jnirun/build/
app/src/main/assets/svga.zip
third/activitystackmanager/build/
third/appbackgroundmanager/build/
third/eventctrl_lib/build/
third/headernavigation/build/
third/loggertools/build/
third/utils/build/
third/xbroadcastlib/build/
third/xcache/build/
third/xwebsocket/build/
third/mtlog/build/
third/mtthread/build/
third/zxing/build/
third/x-ffmpeg-lib/build/
third/bannerview/build/
third/mp3recorder/build/
third/oss/build/
x-service-lib/build/
x-ds-lib/build/
send_anchor_feishu.sh
send_feishu.sh
x-im-middleware
x-database-lib/schemas/